################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/visual_studio/.vs/Graphics_1/v15/Browse.VC.db
/visual_studio/.vs/Graphics_1/v15/Browse.VC.opendb
/visual_studio/.vs